apiVersion: v1
kind: Secret
metadata:
    name: webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:WFeG7RFTSlUee4Ukp7bwPxkfz5oxKiTEvLpumt4MjRcIbid4pOlTcg==,iv:TAofE1vWo9vkPEY/0QCWhnvayZJOttfqJrBiGEYyBEc=,tag:tsAXkaV5psPcLtc024pN4Q==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1ahhpeqda220h75jh8fwfptlze88sggr70lu3vzzylhj9phtm730sj06q7m
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB2VHhsaE5NVGtCMWh2TFhx
            ck1YeGdFQ0FWdWNkM0lqZU1TOTBDTllQSlhJCk82UXp0UVBDUGlmN0pHM0FHUGpr
            UzNvRjZ2VU5yZHBsR2JQbHBsMzBJeXMKLS0tIFFSb0M2L3JRelhFL1lybHJGUTBv
            RWkyWVlNeHdSRktWTzBkdmI3d29hUUEKKrtjvMR4y9GWOBiOO25PpJHmLoNwRo/G
            KBrjQkfFTCQjYf9XGg+iVUtxxV+Gw3kx9FJK5X41Ji33sCzmMkUO3w==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-24T17:55:45Z"
    mac: ENC[AES256_GCM,data:VmPQy0TzBcTfH7dFchLrgXqS14E76AB3hnjohQBgJ5a2aSnrvyDqu4cpiURfoO/eriosPhSs9WoJSFRbxSy2/4PXiG9BVa8+imszlim4idd0PeV+U+A1Ng3xFVYRWx7YNsgQCyJACLNGim+yEjN9w6BYQoRC2Yvong27XL6/AoA=,iv:dmVr9qJgpVVAAuLOxUPtA6z3N//tFR+HuZ3hMwhlR2g=,tag:RX0lmX2zVG0tv2x2kqUksw==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
