apiVersion: v1
kind: Secret
metadata:
    name: webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:aD6jiqtSYQJmPEOlA3+Ys2XYI+fQXhi99SlIjpTFGEQFzj8x0m0GpQ==,iv:FAwoIASSmZAF5keMPUhSO1Nk2oYoq18O8tf3Wjsti4Q=,tag:l0rCcQrYDLCBdrsWAXwY9A==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1ahhpeqda220h75jh8fwfptlze88sggr70lu3vzzylhj9phtm730sj06q7m
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBPUmVHRWs1YmhvN1VtRDhV
            SUUxbmxpelBnZ3VmdUhNNWVYYkRENkk5bndVCndyMGdmNHRBN1AyWDh5cU9GWS92
            UGF5Z2lrbzViSEt0U2hYWGVHbUVBRFkKLS0tIExLNWd5VmJFREhuTnkvYzVUOGVZ
            bWdaejB1RlZzTDRNQk5YTmt6dWtML3cKbU4rWoWI0VPOUNGgpwViZc1/hLW5CQXB
            9X8bt10Sw0uldrzjrcEwzvWIYmtNTsYlDL7BwFLh6UIuy+88e85tcg==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-06T16:59:41Z"
    mac: ENC[AES256_GCM,data:gLNujFPWBkblyW0lFgtj3r8U+DuZQBpQt7VVKsqpe44zpeV32M8Z04ss6aEcLUJOAMpYAqAgimg1NfNbKcdUxNFZDGstJJdn/S6UL82ghthC5GkKFgZySUk5IzcR7PDCNSIip2Y+b629Nk6bW6pAONT3dY3vXXv1iJ27hK3vx/o=,iv:HbyICCw1qNb+d6aqRSMp0h5ByKVjjHTOU0mR7QVu2dU=,tag:mlSkEa110xvDpoFlPwoGRg==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
