apiVersion: v1
kind: Secret
metadata:
    name: webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:eQsgS5NAMiWe5l1/tlPrCdxWx7j7ll8BX2Aw06dGkjiyngRpcN7Yew==,iv:npKreDKcR1k5KSmJp7lPDrfj7I0f3eta0Wk0T6TS5qc=,tag:xxa5mvlHhUvSVIltsq7Opg==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1ahhpeqda220h75jh8fwfptlze88sggr70lu3vzzylhj9phtm730sj06q7m
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBBUEI2K3paWHpEQk0zblZt
            L2V2UVJKYURseGFCa3JSSEZLOGpxZ1ZGM1hzCmtkSnAzMzJBTUh3Zi9vaDV1U2Ro
            N2Vnei8zQWNYc1ovcmZhVnpqaVpmeTAKLS0tIFlBbWNQTGpPdUI5Z3lmSjFkRWwv
            UHRzRytvd0UxMU1JZXYwSFpycExRNUkKRHL0OwH6PctEXQpR0c8PBGmF/sSDGHLp
            p34dCZtlRc4VxF4ZxRommcxiiX0aCvyDBjee7rQBR+wAs43DaB3H1A==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-24T18:22:41Z"
    mac: ENC[AES256_GCM,data:PGQwRPkYjFnZAAYqqs7Wt+tK3XKbOtJN7NDvUnjEw0eyk8eKk+oCtJ6O6iZLJoK/mskBG7HQA5Tm7cW9mRdyRI1yrCtf3XKw1Hi72S54YBQMRpRuyaGmhOc3fWY/ElYd7EZ1FANyE2QXb+CTjDFwX1QXxhNt6P5kN5LAXyNSzdo=,iv:5SPDk4wUFeRulBeQrhjd7ygA1g+88AmfS0oihMFWUUw=,tag:DeXZ0teW/aj1Pl+QYTPdJw==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
