apiVersion: v1
kind: Secret
metadata:
    name: webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:9DOk0dlJBoNV+AtjChRM7w8VT6FLcPVLhX0lpXzKW8GjTtYIuEn7dA==,iv:Tnzu7zcBiyxAtbuTE9OphbCmCiYjfi8JA9kNShF51jY=,tag:PCEc8HBRUlP5bkkJihmHmg==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1ahhpeqda220h75jh8fwfptlze88sggr70lu3vzzylhj9phtm730sj06q7m
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB5TThVVUJoOUJaTkJCSERM
            bzl0amo4dDFuSXZYMXNXWFNpaE9mTnNZa2gwClZlb05tNHBRMWxBVGNjYWRmY1RL
            NGRpRFFKR1gwbWMzL3dLV2RWT0wrQ0UKLS0tIGhtVDMrVjFDUnlaM1crMGJvNTBt
            YUg5Z3JjS25haG9kSWF3ZnJSNjM5aUUKkUV+5zVn6iwYwQH1Sv6S1jo+lG7Loodv
            6pmYotUQSoarCxB9WEDwhsJHDbph286/FU/muACcAFUsBSYIvJ38Ww==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-27T01:49:31Z"
    mac: ENC[AES256_GCM,data:oxiMmoG/MItH8npTA7qN8uoLXDoLDVAMq2hwBiNNyfObVanxfcXYUvms2Kc7KgFutEV4j28+F4t/77zSQ+ZBExpc184pvT/6BFUh6gRJhHduPxmAqSicHmX5vyhjBnqByt5xLNX7BxTns/qvun8cTONATQ3A1Dmqi/TKHC4AYqM=,iv:ojuBsClEu7oVqCnNgL08LlX1hI3fGSUU9nCNS44Hk2U=,tag:+d04fxS6U7DSEuEq+N8gsA==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
