apiVersion: v1
kind: Secret
metadata:
    name: webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:snlzOltwHijxbXdx1KUN9DMLTWC3FKSEHbH4LMijMklJ9fw5pTIOyA==,iv:h5sD0KSKbDn3g8GPrjiw2IvO8xR3wj7vL9QXxZNMFzU=,tag:nUmrz8d6OqQVsSa5bh/b1w==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1ahhpeqda220h75jh8fwfptlze88sggr70lu3vzzylhj9phtm730sj06q7m
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB6SzZKSEFxbkZBWlkyRm9E
            R0lvc1Raa0lQbTJZVUtSMGo5Y1p6U25vdkY0CkF1eC8wUzFneVZJSERaTU1SZmww
            MHRSTnBFUGNGbTdoY2ZidGwraTlzbTgKLS0tIGtUNmw4V1lXOFRQbU1yQWZPR01H
            cXFjYWJiRTVPZTdiSDZKM25mM2lEYXMKCj9QB6h1+JkhEM0yM1gOduXCyEnWwOIt
            vQikHCsqkAWw9K/md3X61DtoLh70JVENJpiZrvWoYC/ylsuAEVkb0w==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-26T23:47:23Z"
    mac: ENC[AES256_GCM,data:kEGUX9pmwkk7K2zRS6CHIlv49QEE1Y9NIDhrjr7rtg33nlqOAi6CCrCd32O1OzD63RshM4DttnrMnFBeDx5LD4NLbmIhLz8FquvcmrytgQ7bkBd1kM4tbJHN5AITn1P94iBMvjoA+nuk0jGY7PVrDVLS6CbPHQEoXPqv2n7JPCU=,iv:Y2RA73AzvZf+TUXDpmv1ZF/yqS606rJz6wSwRnKmS84=,tag:p882gBnIKoxOKRgApWbLsg==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
