apiVersion: v1
kind: Secret
metadata:
    name: webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:hKvH28ybfEKQrpeIg1NrK0m6eK98fJRbOkRGRea2Jn4RtmTUn823tQ==,iv:ovSfH84KhxPzbeipwLQA0Dk1ZZ4Xv9Nzdg2Uj+Xlsu0=,tag:ut7xgVBBrNsN9Q/JcBl7mA==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1ahhpeqda220h75jh8fwfptlze88sggr70lu3vzzylhj9phtm730sj06q7m
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBlbllkejZ0UjRDL0h6dkFp
            L1pKbmxMVUdzK2QvSlUzUEpBeVVTZjRLWUZjCkVldTNrVjd0d09KV1BiUENGUzk3
            TkFCS1pLMHhnSkdxdGVKRHplSkZJaUEKLS0tIEErUEhLZUhoemtpTUNUQWJyc3hy
            cG1pbk9yRHc2S0lnMDZ0VVBCVEJLTG8KsJ4PvyKKNTwOvSjw+mh9k3lRBw3sKY2x
            5yWaUSGdsTdK6UCJp+pORj9a4OOJfkpt7qXHEO286L6RGAS3IdVYuQ==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-18T22:42:16Z"
    mac: ENC[AES256_GCM,data:L8tgVBKYZ/MGwmnFPW5RGro7Y1W7SscRR8xSJSVczoHwWOta+4fR8LHZh2eOYCoadvCXO6bTT4uEPJH4w3PyaudR63RoiORbGT9dHlbF/DwnBi9V3gh2tlYcaTtarNIRtGp/jGvdxGUuifFJGChuAGStCzWbxMmfwXLyFaC2QEY=,iv:2LBv5HjpmeGVJDnPghMQcNzL+sQ8ycRxfHYxaHQIJPg=,tag:cvdKzBFOx6Ei4dPAujhoHA==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.1
