apiVersion: v1
kind: Secret
metadata:
    name: webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:BYbd2a3i5iQEI1++qpUi6ux5rKMfYk/bzrUSDDdrT1j2D+M+U2kQKQ==,iv:pICwBP6UhGrEcUIkGMq+2gTwN7X3FW+nzVuCULPzBWA=,tag:doM1qPprSoFXRL6iGB3N4g==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1ahhpeqda220h75jh8fwfptlze88sggr70lu3vzzylhj9phtm730sj06q7m
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBGQjBwT2lLcDlLR0ZSOHNP
            UVZUT3RFSVZ2QjMrUVFaZCtIMmI2d0xvRldFCmxEZ05kR09PaDlFQ2h4SGxaTkFj
            b09wY0Vlc3cxTkNyZ0w1R1pzL2xwV28KLS0tIE11eUU5UVFXQzRYUTY1RE0wdVIx
            ZWVqbGc5Uk5DZk1oVWlUWTF6alhVajAKVtjSRrz+oIh8viaIXGErXQAZZL7OXk6H
            xTj5mx/YWFFS5AqXvsAZ4fSUbFIZ3SZ/bVFPnuKzy8+pBxqonGt5MA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-28T21:59:28Z"
    mac: ENC[AES256_GCM,data:R8wtl6kfcHTEE4pPJHbbOOjy1yDPV4BS6y7Fax0dBmzyMFUauckdOvFO81F5DZ5ibc5sQS7zCEuUS7eXwey+V3Hap495ci5D1PTpAo0FFBTX+5F54y1VKEUnAMy27Oxo0nQqRl9do+RHlCeS6KwBM8/4d4Zn15JDDg08hcWzVqQ=,iv:e2F/kh9S1LC9d3hx6Qwmi1MWsBBdmP1Twbz5SI8Xjr4=,tag:GATVXwSR4LcmqzFPOrjCgw==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
