apiVersion: v1
kind: Secret
metadata:
    name: webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:BHMFB/gXFWSgL9D8n8VmJ7e1df+8x3FgHMUpUYQzMmaGhAufc5/aVw==,iv:EmQbOVOgHu5KNZss9J6qyArWRcHnVGQKz226bv7CUN8=,tag:y2gGnBIZqkX4dMDHUIAFBw==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1ahhpeqda220h75jh8fwfptlze88sggr70lu3vzzylhj9phtm730sj06q7m
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBqbTA5b2VMSGlNR1RzRHJ2
            cWUycWl4V2Zldmp6dEF4SHNaVDFYV05IUEFNCmRZWC9YNThQY1ZGVU1kMWtFQ3Nt
            a2p2YUFrYmY2b3FJVk42cXFxNGpqZWMKLS0tIGlUZG1oMGczZFQ1RW1oV2F0QmZB
            ZVNwM3Z6eEpXb2VwamhvMStYWElrKzgK4NqKQJkKnsrMrvzN7jyqf7XMDAIiEPjF
            oI26tx6iX4aIktMuN49wQcGOwHO+GPWmibwIFAOhB99Gx9IMQXTZsQ==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-06T16:51:05Z"
    mac: ENC[AES256_GCM,data:jKWZexp8zleKm7siVJJB7yxLULOiu18uV/QMYV++3b7hMzRbUpW8sybJc9lRJCe7+Nn8RH8oB0kZJ348/f8UHKMt/NPlY7Hk2CrGQid5OH7CJYPJtgj+HmC8fzp0g23sxRM1coBL8BBbPXH59gYHeycB9f2uU6PJqZMtEVE38ok=,iv:LWMZ5teOhgkecMioKd5yZqfK4DwIZMOrca4tydFSiKE=,tag:WvoNpvAmlGGqnjZIfkg5sQ==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
