apiVersion: v1
kind: Secret
metadata:
    name: webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:cKUC54YvkL3wKTgTv8R3OXsv9DlR6qGwcXvyDAjj0ip3ALqpDLZ1+Q==,iv:sXDLazHF+gqEKt4xUiC9RXl7yqXpG1et5Ymxfc+rDas=,tag:4vzKgqZ9c868X3I7+rmxKw==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1ahhpeqda220h75jh8fwfptlze88sggr70lu3vzzylhj9phtm730sj06q7m
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBYNGJRNk1NMGtvN2I3ejhM
            M25FcDk0K21pTHhZek0zdlEvbUZ6K1hJb2prCkU2RkUzNnhXem9UT1M5dkdCTzdx
            WmphRDZXa3VLN2NzUTN2VGZ3VTh5a1UKLS0tIGViTXcrN2txb3hZZUxVZzMrNzZN
            YmNuREFCcE1jQi8wbUNoNjhPdmxBYmsKMbDbrkppNIjG70hPSfOJ1IJFFr/wVsPW
            imSlmNOn+5e2NEPIJo2ylyjjQ9YMEbpdYfy+rojHKZxNiZnHVA/ngg==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-17T20:55:02Z"
    mac: ENC[AES256_GCM,data:ss1TQHLDWUloeDtCAdGwWBRJqaJ+MIrixjtQrFasmfO4ko+W0NRCozSU3PkwdylbO3dx1hp3owux8GdOfmgMjqSQbTQYtHbpCKfH03iHRN/qPcR5YSuG/JZLwa5N+gH6QPP3PXZPJhQNDnvt2wmzyfc82H286/ypvSlFvmm9z74=,iv:eU6wViJwIu3Nm8Q0R0/9YzQiHK0zaVJeTYq28dSTV6s=,tag:W2rxCyH9UOhYD0Y7c9gP5g==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.1
