apiVersion: v1
kind: Secret
metadata:
    name: webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:KYpwQ9A14uhw52yw968RR7YFho8I1AuYupCkUr/JM+ateWyGm1uCHQ==,iv:m5skOUn2aitIN/w+/tO8AeCWv5mFJ/YixvFVkuhxFUc=,tag:ycm6rSmXDc9101zaGaW7Xw==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1ahhpeqda220h75jh8fwfptlze88sggr70lu3vzzylhj9phtm730sj06q7m
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSA4eFNydEl5USsxd1pwalJp
            MGpCV3VuRlBjOHY2TDBndzZLTUcyRkJuV244CkpOaytxSXM0RWMrQjRWSFJTNCtB
            WHJjbFRIT3BsTFJkUXl2NzRPWmFUdVEKLS0tIHRGRFBFQXJEWVRlajRuUU5tM2ha
            Z2NKOERDdi91NlNORThrQmRDbkdaa3MKsqzCZI/uxHIbq0WdDy0ssfAWjmoEYNPG
            NLyVuXj3weXuLG3MxZf5JtmI53bEA9/g/wqsXNfgveyyQ6v35ltt8w==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-17T20:39:11Z"
    mac: ENC[AES256_GCM,data:nUbs8HsHKZfMRuolgxkESeo8KUm8j5neAF8YCQmA0XOjxm7K7OatMuKPf3tW8q+O/fSb8Ncmb4PfzHE/2jnnLhq3z+sbllvhA+iM8tjy+adZqhR+/F7KtEaVAVvZdvLbD3LQhr3VzuNTtX+ggGJmAWSaHvREbizk/uE831QV5ZE=,iv:+btEXb63rD7F9MUtHGoanTQ6ClcoeB3FA9XJPZtArNU=,tag:siItx7x/gX9hAoTdZ4GR+w==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
