apiVersion: v1
kind: Secret
metadata:
    name: webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:MFhwDRqPCEesmvKZkIz9c9DHye9Fc5jltnjnnEp5lUMjMzol8BqdMw==,iv:C1eAsDOBUFRgcWH1jbVG4vSZw1DdtPzVJ50utwGBd28=,tag:CG0o51X8TgU3C+UVpHSTfw==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1ahhpeqda220h75jh8fwfptlze88sggr70lu3vzzylhj9phtm730sj06q7m
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBMa3ZQRk1rRDJtb21Td0tN
            NEhKQ1FTSVlzbGFybTM3R2REcGpMU1A4dEZzClc3T3l5T1hIZU1sbFBDZC8xdUwy
            R3lHV2hreDNMNDNqa3ArKytpZFFBRVkKLS0tIEF2Qy9YeE1OM1NTWFc0VjZEMW1l
            cDVwMFpkTDhrRWI2S3NtQzU0K0laRmcKd5LmK5kJCAif2NecmVo6B6oMK9+I4tf2
            bMc3cj3ONm2TX15hxMbSykSBIb0UelWMuLNBzPU/qg/l08CZB1oBCQ==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-09T01:07:12Z"
    mac: ENC[AES256_GCM,data:UClmsKb0xU6vDR9a6HhEsBz5iBEb8d3y2qVQLhaU0PPQEsb3DqvaVR03dXdwfdvAKIYA7wmoQavfJuPXoLjplZ+Tj5/VJFPYGPioXLPh8a1GdhF8cuYRjZMH+HxZ/tQYcJKJSAqgpstrmcgYyIGFR1O1JkfvuiOykzouEZVSgnQ=,iv:AIaJwfieu1xlWvxXCvvQ/++wd3OGYB+7FRBX4GGoqCE=,tag:wVMFzu+/pGGGZ5NZUBS+ZA==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.1
