apiVersion: v1
kind: Secret
metadata:
    name: webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:+SzmPqWxAKNq2MQr3DJciiJ8xono1LDXZIORRHy9yDsCbJph6A5QRA==,iv:2QkCTzyP5MT6BhD43klLC1as3QLzMUQsoBXIHRIwzkY=,tag:iuiq8vzrN3q77+ZKFgFB6A==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1ahhpeqda220h75jh8fwfptlze88sggr70lu3vzzylhj9phtm730sj06q7m
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBDaXFoSVpWSnVPVzRZV1hP
            YW1JNTh0M1VraHVNSDRyaXFDc3hFbVp4OUdVCnJDUC9LQU1EWCtvNUE0OXF1K0hX
            dUVRM2xuRGNSYVVTaXdBWWlmM2dmNUkKLS0tIFEwR1Q1N2xlS0h1WFB4NEFNaUpt
            dXliR2lyVTFIQ1ZRTVcxazErWng3cVEKu7JF8Jn8fjbhV9LIc3DUVCT7CqoN2lVR
            WIqh5rbzU2Xg1AbCk005TMr5UjR0c+8yg+o6U5wQF2Lq0Hb1RgT6XQ==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-24T14:46:06Z"
    mac: ENC[AES256_GCM,data:tjN9X9Jii0pjBfctZkvITrg5PkXgNyaeNQWRA0hecTSm/y3qWr1DbuSfwY1ufb6I/7ZoMtKXQkJlMI+ofqwm2jcvC4njchz70hzzB8yxzrpf788nVRebgNa2I3t7YOF5EL2c2GPGaxlzs+pOMOmlkJnyex9L9Ulgszy9jfDgsRU=,iv:RZub9Ckek2VGGm1J7udNRMDqaz5+jCFfpOSElcz3Dbw=,tag:/LhPGs463Ef7+ai8z+TmWw==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
