apiVersion: v1
kind: Secret
metadata:
    name: webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:NMV+jEKvgwZBIYRVgLOcLvZlz4W7OIztu/HrJuET1hPyFhYBDoo0mA==,iv:RQzCLwUk2MMyeZ/sCqTYqcqP9L+Wjq3j38qf3xLzaDY=,tag:xOQzIYdwVYQ6bHcE+Q2KDA==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1ahhpeqda220h75jh8fwfptlze88sggr70lu3vzzylhj9phtm730sj06q7m
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSA0eGxpcU5LYitBMlJRa3U0
            THBzVmxLbXFUbW5rWkQrSDhDRnhHQ3BUa0FjCmI2MFdYa21XeThFaUY3eHExNXB5
            bW1ZSDlOSWdmWlQrY0ttZ1BQamp3NFUKLS0tIEJTSW5Say9neW91aXYxYnBpWGgx
            c3FvTzhldVo4bTdYSUZuS0xmN29Eb0kKPnBXKaXokdqynk5hrNY2UPRnCZv41IdO
            H2xAzN8y4U+t+x5d26g2f/fJqqcmZZxYLl/XUUVzHQfFiHYqjqtCwg==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-25T23:33:04Z"
    mac: ENC[AES256_GCM,data:jA2MXrvmNsMWV/UHGb4OiEQ47m6W0EHH/1CZOutTHZG8T0cRTyCdjhFOo5VBLn4xa3Wrvpg3mG7Bpmvf6lnzd4Wj+g+VRQxiAHq2O/2R9gbo3oygZtW9Bx6TxmBnv/2HMTmf8QQ1FiyjNzEnc3HSxgWVIwJXaGjDZ33xgR+Z0c4=,iv:6gEKUemQf/YwmY/1gU9MNG6TFEvnsSNaG11RMr4KBhU=,tag:5JmASOPANSCLseNZFUECDw==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
