apiVersion: v1
kind: Secret
metadata:
    name: webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:sv0YVMGcOmaaPo4LhiYNrAc7dkZ3iaTS/GPF4aP+EKLfnBkNHVuSpg==,iv:GgcewDJ4EpzTfD4B7vancsFValvWvips7J3xLTe2EtI=,tag:vqZY/lWlqPcs1Kmkgpy1hg==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1ahhpeqda220h75jh8fwfptlze88sggr70lu3vzzylhj9phtm730sj06q7m
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBtM1IxQkNKMCtSejNoQTJz
            SnBaaW9HVWltV0JBV0NMdm9GQ2Y0WmM2OWd3Cm1PenhMZXVMcXpaYkExdnlzV2dk
            Sjhhb3A3ckh0emp0OXIyVmZIZUpIT0kKLS0tIGUzOWRNOTFZdkp4TitINDNCZlpL
            dWhRMWpRSkIraTNNS0p5UEhVVE14MWMKvOh9zFxAo0JDf3LoKJmB4N96I69Xg67H
            4XxmyRC01sLi3p96B0tBDE30Wz7EaxU15OIPKe46PRJiOTDwiZ9tEw==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-19T15:20:37Z"
    mac: ENC[AES256_GCM,data:dN96GgpqeXIxf8qTfxpUipQ8AcmkudGLsnx26EvJ1Q5WtTDrw4MSPCXOchemvEsZ/45HSArnY+047vKmtlcpR/HRTnRXUL88KTawWqPx66Gqtmn99TnNTq6t5EtHF0ud9Pw5gWDCCV5wDu132bz1JowzIUK1isZmk7aKSRU++As=,iv:0+Hkc4NDzXudT4ma7+YfsSGzxQJsQJn2PEfm3hzltKU=,tag:WsQ0kU0ocXgPRdAz3GFiLQ==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
