apiVersion: v1
kind: Secret
metadata:
    name: webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:jCJHma5HdBZInJlPTFebN3o+i+aNVw66tK+GkZH6DdKx/mlc9omTtQ==,iv:+h7SdBrAW88P84oELrnU2DRkAb3ibEc+8YHYY7nAiL4=,tag:YVoFutiJHYUYkoMzvCyYtg==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1ahhpeqda220h75jh8fwfptlze88sggr70lu3vzzylhj9phtm730sj06q7m
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB0OSs3ZmFGQ01vdG92Rjdw
            OVVKYWF3b3ozS2REYlZMdGFXdFdsMWtVUENFClh3THNoWjN6c3BJcnNzam1qb292
            L0dYR1VUbU00YkR2alRFaWFlaDJYVUkKLS0tICtQYzlJZGFPUmVMbGhVRFVhMTVl
            VmxpdzZYTDJtVy9KYnNNdzFxYlBzcEEKz9J5W7IvuwY6g/PgU/S16QdP0ZlsuDcK
            +wfxdAaWWPh1QBtngCxVzhokc+kWdU4iuvVcF+Mx7Onq6qnW+q8nzw==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-27T01:18:07Z"
    mac: ENC[AES256_GCM,data:iIRLMEnF1WeP0RAl0sFOIJWe5je4OIRJmj1eeIU7Jq3P8GuUCZ+panWTASmtzUlcAHdAc7ZvE4Udm3wghoscXSSUkwZUvEg7pUOce9X4SqKSwWLhLhwTsvf4lYX5KiI2AGllBfl+6c92Mg69HQD0jz6nkTAIu4TVLkCEG0p9P5k=,iv:QL2OR4C/IG/eAWYl3jZjGwKdOosyoJVcotj6YsebYQc=,tag:pebjJtbeOcs63rwfD2ac6Q==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
