apiVersion: v1
kind: Secret
metadata:
    name: webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:FayZfTkY7a0FXSP09jDs+nQTSzVQOGmtvDtTkP884rqsyRMMGhQnqA==,iv:fvk+rFEm7g+vpaXD85Oe2zx/7EkTZqbT0RtVlnCsL5g=,tag:gRgazuoEn5U5vwKILHgX1Q==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1ahhpeqda220h75jh8fwfptlze88sggr70lu3vzzylhj9phtm730sj06q7m
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBYM2tHbTlGSHE4eWR1VGdS
            YVF5UHMwR1J3Mk5sUm9HYlFDTXh3MHhwUEJZCmpZMlBaKzVwQXVkVjVYOVltMmo2
            eEJVM3RIQ2FjQmcxT1pzclFRSThqVU0KLS0tIDBiU2Y0bnZHZ1BUSm1PMFEvOHBW
            eGNHZnVsSnBSSk80UlFOYzNhS3NsRXcKHS4D6JRT0veBDDOFmhBzJAbP8+R/n3v9
            5dxWrZ4jgLXk/hucue8lapBqwyxcc7d24w9J+2pSmhPAgxhLajSBLQ==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-26T00:54:54Z"
    mac: ENC[AES256_GCM,data:oEsb6iB0+zO4FBvJa5ax/3JrcznUVHC92KV9o+Vu2sEegB9VA6U137/qRq0kc/0yuABKPx2zYidGNMQkQKfDuLEBzOWsKuhnDY6tUwK5Cf50eR+LXPoXnULjgqo2wW3ogOKHkxt1neacm5muHfIZwd5DKIFfL72y5f602n83xvw=,iv:Ob4ZIpw43epLwsgACkKFMPqt7gZWpTMTtbnJUg5M9sY=,tag:92fiwx8ZQK7DClwZy2T4sw==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
