apiVersion: v1
kind: Secret
metadata:
    name: webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:StMgS6O9ssVP7x3uGenZ5CNV7JdN+rX0ZzxhzdqZ/p4DZgiAN7a93A==,iv:EE6qvNYabWRKNSSD65avnE63FhE4p8H4o7Ws3VigMkU=,tag:OAB0ou4XEZt1icMAGn6Zew==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1ahhpeqda220h75jh8fwfptlze88sggr70lu3vzzylhj9phtm730sj06q7m
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBqTE9hYlJsTXZyY3JMU2hC
            NnVvbHVXb3NqUHU5VEVWNzJudkZNeGhuVVdZCkFPTUltUy9EWlpYY29Lck53bnhM
            Zm1kdHZnYituOU50VUFZVlcrSTNPb0kKLS0tIFFoQjQ4T1EydlcvWHNxM2ZhYTdF
            a01qbFJRSm9WZ2p0UFVVUk5ERmJKY3MKSAvrtrzhpjNHd/2d7q6b8n+clZvQoQB7
            cNShiawHRnCwZaP5LUfCaYqnTeOZmpRhvQG0OtM2SwRDnyRD4vYO3w==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-09T03:53:22Z"
    mac: ENC[AES256_GCM,data:VFjpKD8+dEJfw0kaR6TDYvIeqFVXX6yIwjVqiCs1ZMWHGF58UKUagFgH3pVx1vjPjNC4wnfXiyU2BERPluk8GBbvRiGhis43nJ5rVuMCETytLLhdgzEHWT76kaJVsNLRWaI0PXAcr8vixjAph9GwunrWktgVe2uMXfEv6oFmTaU=,iv:aAqfYaaKv3ttldMdlDw965o5HATxswOh/77S8BePEhU=,tag:xd/Zh/eEugbB7/AwOsLnLg==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.1
