apiVersion: v1
kind: Secret
metadata:
    name: webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:eQUxTVD2VqbvL7Zgd1LSuQOEw2Gqtuzy2EfdKSy13YTJ84ZcSkrCGA==,iv:5HIThq1KwrcV96KYUyn5iVW3CBxdZ5zd42YwjxnLfq4=,tag:y4ssk1iUv8sB+diz/K6a4A==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1ahhpeqda220h75jh8fwfptlze88sggr70lu3vzzylhj9phtm730sj06q7m
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBCb0tXaEgyTXRyRFNzKzlm
            aEFvSStjMlhmYlc5a0VBQWdXdDB0Wmo4SlZBCjdDZXJpM3FHMUFmQWwzeE1MQm1y
            MTFES1ZQMG1hbldqRzk4cE8zTnhIbUkKLS0tIHEvazh0MUZ4YmdQY1VZWjhMYk9F
            RnB3SmNKMVRUZ3BLaCt1RDZUVjNWa0EKoQHHmwL4E/ulyvU/AT2jJxFkGnX4M1kD
            AdvtlLrUQajS0VRK628BQZpAqF7jlmFJgGvYQ8f8xLR5nLSiGaIvtg==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-20T18:53:36Z"
    mac: ENC[AES256_GCM,data:cUtO7NzA1kVqJ3+Q5k4nFz6Ma/QFC20lWqdjKOITMzMwezToSjCX4EhMLTFoE9cmrF3pFXjZDObOzQPpmF25abQLw9VgNpYQXWohR7SoZA+SrYU47XN5+nee0oJDTqjXPzPS3upQSDsq9fxHyu5V/Bfw0oSf/yO+3WDo8xQuYvk=,iv:ktnlHH05sfqPFGw7bRYZjP8RjsuLOIbaWJuP/xKo95E=,tag:2DnWAXOAam0Sw3N7AIFK2g==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
