apiVersion: v1
kind: Secret
metadata:
    name: webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:6jxN3cc/J6lRZFziT3JLc3W9+itm2Phhub3yuZrc3Nz8psTToU7DmQ==,iv:i7s35IsOqcA2DwjTMGtQNt4uzhBAXHom4LAFF2UkwFI=,tag:I462BQbm5KawEJ+469WRMg==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1ahhpeqda220h75jh8fwfptlze88sggr70lu3vzzylhj9phtm730sj06q7m
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBYU1gwVmg0di9nUWRwaDRo
            bkIwWjNqdkNhWmF2TlZiNjQrMDd1TEpPN1VnCkZYUURQYk9QNmFDb2tEZW5UUmVD
            SGhrdlVSQW5RU0NLYlYzaHZNcStkV0EKLS0tIHd2L1ZjUEdWc3hDbTVoNFZWdG5v
            cytIOU8yRmdqSWgxUEVhdlNMZ0pnMzgKfd+PVUaOGs4he8ZlV96RRTiI3f3kd2tD
            ofjU+UOVDlXuaZ05hgg4DhGR9O8wJyc+FtlJJFPZb6FvszNh5Ix63g==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-27T01:12:15Z"
    mac: ENC[AES256_GCM,data:a0shst9mn3Xf/IdtIbFZpBdAGq3jdotwbDm7GOWtcF5zRi5AuZRwF0ufY4bBj8egnfkrOsupaeZwJsy+mMm3nPOo4+x4l5ukLbgQ15Us8Z1nyF/kmwJtQ09aLk/K3bpHJnUsYiN+BOMK/jtQSbNEev15G8Zs5A1mP/tpmgDVKUo=,iv:YvhLVjPe1nUPsOvOhnC9FL/LyvTsqhQ+K3Yf00EVXZI=,tag:AOjmaiULQ8H2arbdet1XPg==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
