apiVersion: v1
kind: Secret
metadata:
    name: webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:/4AHZgCgEnqZaN4Sn5e6dhfifIE2/mru3M973/xRvpmCCxS5+fRo7w==,iv:IEKAS1lu+5Zo+PEZbVZvVEvW5hZIuX+GLnUjRAwGMJA=,tag:AdFeXHrpxVuUc7amdaYjNA==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1ahhpeqda220h75jh8fwfptlze88sggr70lu3vzzylhj9phtm730sj06q7m
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBLN0F2MEZJT0ZtU0k4UlVx
            MkpEbFdLZVdJTTlzaGRDeURjUFZTSWppTER3Cm5tWlM5bUNjTVdqM0J4YzZ3SktU
            S3FJbC9peXZ4NEJkTEpCNUc2UmM1OTAKLS0tIHN5QzgxdnZUVDZTTW1JRHZYR09X
            Tzh0MXJyRy9DTWZPRTRmV2oxYnZqSXcK5CPA/ybtjy+pErgiVQy366M+4eMbpu9T
            RUQFQQ56V1bJ4ZPq+CbGGZha9BbWCEYC13a135VcA9aKz8PTan92fw==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-24T15:11:43Z"
    mac: ENC[AES256_GCM,data:0NqXPU/JF8g2jxK0itkxvhZcRx4y+je0cYP89YSr4G/9Ni1HgRmCMtGnB6n5eCcbT/ktU9rtC1PmOdVZQ4TkZ/bQZ+2jLiLDBSgqTLMw1MZJnTT4GO5qbnlo7em0JYM2W0aIHtxNSHM27QiHLlgBvEBEZd4ZWz7TZ5bl2hKKMCI=,iv:SCmF7zigEwS5b4PN2cv5VkyyA8uUSf/HLCcel826ok8=,tag:dSRvrW3jnmMZpwKvxd5yYw==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
