apiVersion: v1
kind: Secret
metadata:
    name: webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:RwpeZj7f6kwqrN9D5gkHjixDbMMOmMKNMsyJuvH4NPeCg92JmHPXxA==,iv:fayetjrWTDlDU8NTsVKpZHBFuAWg6BSQxzMDk59veuI=,tag:TAE7ZM8SeGmc9f5kytKQEQ==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1ahhpeqda220h75jh8fwfptlze88sggr70lu3vzzylhj9phtm730sj06q7m
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBta0FIZjhEeTJyTlJSbkVE
            dVNQZUdwS0Y5N0ZJU3pSdGwxR0pzb2o4K2pzCmMzT01IcmFHeEFCYVYzUmxYdWdk
            WFViRS9lcGFPZFJNRGJObHA2aGVjN3cKLS0tIHhWS3Z6MGZlUzczWk9uZTZoSFFj
            ZW4xWnZxOXZwY25XZ1l4ZFQ5V2txSlkK/1+BgY6W+AQpOD/h4J2z47PpsAev6bks
            DyCAADutGfaFhj1txt2YJO141AFWAL47bkXkl+RRH82xnWAz3j5ztg==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-28T22:05:18Z"
    mac: ENC[AES256_GCM,data:ao/fYcDqKG1cKGmUX4KXtnOeAMPCszLLaXgMfONYVl8MDBsSCdtPXCcz354IctY3OSBRCUZpVmFbRYzuo9/VmAMR3NGDwnspk8pp0gCLBSONf1/P1hwa4t1685N4X9ac2fr4kSnrvOZLHkiSvYxNwkB5bLVgO2AEIOB+Di6OAAQ=,iv:EbypKKlhavR7AoxF9VU8T/gVE+6oDkJULugoQ/fwGM0=,tag:/wLy/dpl8GZFuYEeyns3Jw==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.11.0
