apiVersion: v1
kind: Secret
metadata:
    name: webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:tfvTIDuHTSSAzBey9S8ptgeFSYh/LVTvEA6jLB+jR4896SRGHWlPvQ==,iv:MVEJhaOV4UDg43H7KCICAXgsAeKstT6yHpvq7BvnuvI=,tag:cDFEQPXEgOttmEJ6ZHo/Ug==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1ahhpeqda220h75jh8fwfptlze88sggr70lu3vzzylhj9phtm730sj06q7m
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB6N0JYSWhTU1F4bVVjK0g1
            V1RZVU04MUNUZGRkTkd0Nnpyb3d3YXVwMDA0CkJvMTFDTWZQZE5MWHdzVHBRL3I5
            QlpCQW1KWjJsdkNRVTFDQ1M1cWpwUHMKLS0tIFpZeE9TZ1ppRUtYcUtlTkVTMWY2
            NEx2UVQ4WGJxcHlSV24zZzB0UGFRNjQKwsyiY3p29oUgBYtoyMitlCHRAe4Hivcb
            1bfDVt2kXaLIyxWauJF2ccGAePQeH+voAjhCZCgqVYzjK64Omo6z4w==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-25T23:21:49Z"
    mac: ENC[AES256_GCM,data:Pl8NFvBSB4Xi2BxNN/mQEHzIuz68eg84rkTKeMJKmotTZfw2LTidcgg9EwgNqanhBZknvoP8TQCr8mRT15Lo7opHzDkz3S46MwCqqcKC1YIDyuE/Nht8Cg/kRW+NoYoSyYkwU41F5Db23Jl9Eq1K8fbkmv6FJRsJVXxBUGUUTCE=,iv:qq12WUw3rpSPAORyvesWQdtLvS9+QJ7eGoN6iIijdiE=,tag:Q/Jq75Mawq7jE0vDtnCYMA==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
