apiVersion: v1
kind: Secret
metadata:
    name: webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:V4GrtZjEMfu/BgCu4NIb8LZWTpUMRbKtiX65mvVTF3JjlwganGPvuQ==,iv:Uf7IvPdnxRW0JJwxtOnLpxiTIj3Kzl7bIF7WqmAqgdA=,tag:pZ6Ooic7aBCVA4G0WsDVmg==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1ahhpeqda220h75jh8fwfptlze88sggr70lu3vzzylhj9phtm730sj06q7m
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB5UDcxeDJ4SVFUai81NmxG
            U2VwTGxCb2ZiQTZiNVd4ZjdzWURvZitHazJNCk5xTnZiK01KaXhwWjJJc0hkaGRN
            TU83TFBTRGplUWErOHNCSHZNWGJ4ZHcKLS0tIEVVK2ZCbWhLc3ZtWWhPclNSbmh4
            Z08rM2EwVkZGZnpYT1p1d29jWGRUbU0KoRtOn3OOlRruEAI0uUUJDzQwik+99Y4I
            GtF7NcIP3EHWBSPLlk3+JA7VrLorXgTBDQU4qdC9QYY5/rlPY6q8HQ==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-24T17:54:49Z"
    mac: ENC[AES256_GCM,data:T8gfxZcOP2vPZPhKXbfqhg1/F15x+2Ucp0O2PK2qC5qlZzhq+37IGP+pgJlF+Ed7zT7CnZgzYtDCC4jJQCfgdo+vQAORzB9sk2wB2fxjwu0R3/rKuei8uJl0wQLp1BtqqrsOql4cYAWmHX7hLp8HZrG14a054GS76Y41jqg7S1Y=,iv:G5pDan9VUscNZqBNbSgcEHL1P2VFT1y/2YoCChRQrj8=,tag:QQ3j4PXboEFV5AYqA0mPYA==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
