apiVersion: v1
kind: Secret
metadata:
    name: webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:7WURio6nMYZUtToAXNovJ615rYC46HnHjA6tq/IGcvb1oe0DE+FlxQ==,iv:eo6H859NqCgIG8lSggRAJzgUsrOh3TZTWN+2/W/UBsI=,tag:4Be+iWNGv6AcKIgJcde3KA==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1ahhpeqda220h75jh8fwfptlze88sggr70lu3vzzylhj9phtm730sj06q7m
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBPcUw4VUY5Z0V2cDlQZ0Zz
            T3p1TDRFNEMwa2R5cnFmL2cwT2JYeUszdEhjCi9KM2tGQ2IwVzR1YnhrMkxNK3o1
            QnlucGwrdVl3VHdTMWFQaUFWSUFFZFUKLS0tIFdWZ3hoUUlWVzBzd282WWJ5Mmtz
            Y1ZISkMvTVAwZEIwbVIxNlZqV2dnMWMKrX9MdBE5lP7SrZ3I/XVtSQLZK6z/6uAs
            LazKR+W2V1ngJNZitRU2HfmYUjM/6Y4d3rshNrj1P8HBb9K/lEAJ4w==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-17T19:43:17Z"
    mac: ENC[AES256_GCM,data:peTX/rBbqhVIsbhLno19pkaaP0lsBoSHdoB+QJd72kkOgrQAZDi9SYic9OoEaGan1uYn703GZc7Ba5hW2YiFSbpbdOshUBzlAdaiwTynCFkAjQyypnwmNpZsZEBra+GBgqCnYwyZYNIbb7Z0vlIVM5A+5Xe61ubQ41D+55Zf4p8=,iv:GjCxwt9m+RA1woAkkaQ6Rqm4+LzN/nnw6A9ZQ1fm88k=,tag:ZGiD2z/A40RtszarRa64fQ==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.1
