apiVersion: v1
kind: Secret
metadata:
    name: webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:WVNEbA+9qb9mux1QpXAAGnfHz6+VUP3mu4wT6BZkBfVd3XD+qliozw==,iv:K0Zc7LpRdAV4j27ruP3wRJoqhbDJvM+CWYBCEVpv/ps=,tag:QsE6ZK1MhUVX2lxeD/snHQ==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1ahhpeqda220h75jh8fwfptlze88sggr70lu3vzzylhj9phtm730sj06q7m
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBhK29VSFVLZGQ2WnowL0sx
            R01yalRNMTN4aEY0dGxlUitsajJPeER5cjMwCkVtcUdueU1KeHV3VDhJRUJxUklJ
            d0IwbDFmUTJ5anpMbWl1MkNMM2xETFkKLS0tIFoyT296TXEzYXpsc3MzK0Y0Q2tZ
            WGxYRjQ3T2w4cWlyZE11K2d6ZHovSHMKdQMW+HDPeuH9pH3gho1YZ2zYbdcZIbDv
            pnwZ7IgE1q6X54OvjFEDa2CZxXIgpmUdVM/UGnPAWhZvivM0RBqN4Q==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-18T22:38:34Z"
    mac: ENC[AES256_GCM,data:U371WTtp8VHOZHq1Goyvg5yEfx0HgS7uE1/Vtsm239IAOO9qXNZZ+YIPZpSaqPCf97ImY9QzcqlZtA/H7BxvP4pWeyyt4E8NW4DIZnXsNjlhfiOqUdE9EcLFGlPYmYZ0SM2XcrXdTlBbg+Mz9odgIkw4QX0hodNFOnxB82nBx3k=,iv:9wDlf0jRkHUqGpVYO6XrGyE9Rs7MlGDosZYvgfZ55tY=,tag:85WadXq3fdOj2FMYcxv4Pw==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.1
