apiVersion: v1
kind: Secret
metadata:
    name: webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:RcMbb30yWsxkbyhkXWmvEBfIMUwQc4o5ooXh/5UcppPFb4MSkSBGCA==,iv:ojg1K3v6PIePIQcslhjRR1H20JdDPODGxMV6bcxLkmg=,tag:ubY9GiwekpjpTBrmyW8QTw==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1ahhpeqda220h75jh8fwfptlze88sggr70lu3vzzylhj9phtm730sj06q7m
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBuNWVwU0E0TFZaU0YyNGd6
            emd2aG40Z2h3TzJQKzVRb1dVbm1QVzNjalRZClBEb0J3UWh5NVFJN2QxbVpyMnM2
            YTZ1VWREV0lXYndiZnJCeTBoRHB2NTgKLS0tIGhzQkV5TGtNeXp1bVYvZEtkZnhK
            VEFLRVNJdmtScHpET29FUVFvbkJUWmsK69MrTR/dYTgP1r4cdixiO07vOWXJVlNo
            QN7Nt4NjPmV0QWH0adw42LHjwBXwYK7c0QITDJFiqzqNGnpl+4+0jA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-28T22:11:57Z"
    mac: ENC[AES256_GCM,data:8M6ucGJpUdwV+k4OagCD4EbtGLW2U+AMCIGHryKFatLERTErFvAB6LCgcFxZaAUl/3Mn8f6EP0fWclcUbORRxO+Dgi25e1f8aDWhAmBavh+m3imvFJVYn0ujkF3humQpnpDGuXb/sulJAZBx1avDusCAjUCniyYIazgWjVxgiAQ=,iv:vXvLMsAsWJzxSZ4wugRZnW+4rq0KNVQz0AG61YcNGB8=,tag:uOaPaeJzcjfAMH7rkvc0TQ==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
