apiVersion: v1
kind: Secret
metadata:
    name: webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:SYA1Cejt6We0WpwTJ6YDfmVj6h3wBRlEBJsTNaaC6hj0vX/7LRvZ/Q==,iv:xezF65SiJdz8XN+7nRDW+X1edydqjRHUebSMhKCtmOE=,tag:pmv2TxbxXnLc6o+gkGaHqQ==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1ahhpeqda220h75jh8fwfptlze88sggr70lu3vzzylhj9phtm730sj06q7m
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBoQ3dHOGwyWnB0anZibmNk
            cDMyS0p1Q0FVRXY4UGs2K0VjMGhTb0dpSTBJCllUeWI3MnlCeFJZN2dYc3NyaHlW
            bXBuUXRFOFl3Y0dvWmU1QzZYdVVtem8KLS0tIGN1TzNJU3pES0FPWHNyR3lEc09X
            Nm1kOUVmOWdEUURqVzQvUForUXhHSWsKZJAkvCiAjGUP4/trYUq9Fys21R7oIQcB
            w1H5R1Phr8yQn+YyZsBp4O0R7BHfmJDn5Rlatfp1LYnH6m8MXQHs9w==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-17T19:17:40Z"
    mac: ENC[AES256_GCM,data:42mp0x6b8Vkw6AjCN/YhR6OWCAIgtfPnx7PqcWBYhopIpWHwsC+H+h+bWr1r5f74KbH36GXG1lolHX3kfwV0mG1oysLGxFfv3RIEP82ngJXKEUQqjCpYIFEP9Y9hDkdzk+ATh9heN6ap4ijAUepYoslzt8D0bqKx1c1IxNo5Sx4=,iv:OWmPfn/YtF/4CS8WPTiXY8SAaKrCmrIqQfQY3Zzn9zw=,tag:tMZ47eks2A0rikWDzl5Fow==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.1
