apiVersion: v1
kind: Secret
metadata:
    name: webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:U/HqJM4yo8QD2uC8Hgu0Y9+EoJrJvbWyo6B5l4kpIT/aUfU/nPjPeg==,iv:CVgHXBQpePrBlAT3uq/rU7NPGlXqH65ytHzChROlNrE=,tag:aa0huKR3QvooBXRCi3pUAg==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1ahhpeqda220h75jh8fwfptlze88sggr70lu3vzzylhj9phtm730sj06q7m
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB6TkJCSC9JNjZ0b2NsVU54
            NEY1c1BhbjBBaGJkZTY5Uld0VERIQWRmd2swCjNiSVp5V0tOU1lFYmFhZ1JlY3Fq
            YnVna1F4ZXNoUHplOEdCZjh1ZmJKMncKLS0tIFlUS2IvVk16dlZEbTBYZy8wYVVs
            WUI2MW5aeExQc01QVE5jYXQ5Ui9FZFUKJXXGD9paNafL0RPCTC4cYU8KVwQ8oK/t
            mBUptiRbTE1lQw8fkqnHdx8ZHzbA0gpkyYjjp8+VhqqcDw/z0MM14Q==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-25T22:37:25Z"
    mac: ENC[AES256_GCM,data:7IzOWafqj9mkroZKHaNrM1kI62Lif2aVGp/jSAaYLGuMmyuaq8t9pYHEaEHE2A6jCIVpXdygJilSZFIWQvcRbcp4ZP1PEsGwmmuzYQeQqNwv8cUjwDfFrjjMiyQcF3Smh/rehncwIj38AhDLHIxubwiJJA2KigSIXqoTw9Q4UlU=,iv:+OOax0mGA/yRYimoUqtm6DYQQXs9dC+2a8R6tWStoMg=,tag:f6pXqoe8QAyPm+Xm0JBboQ==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
