apiVersion: v1
kind: Secret
metadata:
    name: webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:kaNo5/Huer3gs95dQ/GKBczv4Qz/n3gsbJ9ZCW+9DJ6YsQQKq2xLTw==,iv:rYS3E6mADoXSVPSSelVBKVQaw5YMIGLTT2WPLgyoG/I=,tag:NYPqjWF1ItLQDifwEzGT9Q==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1ahhpeqda220h75jh8fwfptlze88sggr70lu3vzzylhj9phtm730sj06q7m
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBIOVhkYUtBN0VtdGd2Rkxz
            WWpTNkxBODM0U2M1Tm4zaUNnb0FvTkFScjMwClVVbG0waXBkYk5pTWcvdDZMQW5O
            MzMxNGQ0dnpza1Q3N1ZzdVhteCtQOTQKLS0tIHUvQjFhNHBpVC9Ga3VLczBaRk9o
            aEhUSU9ETUdVZWhuSUlnL0N6RHFRU2MKBvQfGu9Q+oCrGYREAg+7ZNv78FtnbiNW
            DzdKNPDSsrEgZPC4Ob/v3wapAdWGnd5J9PssjVuExAHKHHWwnJl/DA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-17T21:20:55Z"
    mac: ENC[AES256_GCM,data:aVipzHHoNTzeLVp4C5R3z0xgefIoIHrmnHfR0hiz0aVAyrJ1P3LfoYwD/5M5S+M1NPRUiI6Dg82PKNCJh2/U/OkEJLGEzdu61Gv+y1OUFPk5T/t+3sDYNwJIHQJgDFumARK/G1wfhy/MwG6zIrfsjQaZgaYsuMIVfbjjC6DmwRQ=,iv:44bVH19Ejrgu4+qZ21JhK6P8iqg8EprKA0FBd7PGPxU=,tag:ayPIN0LmxS0pm35a7lM4kw==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
