---
# yaml-language-server: schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: dockerregistry
  namespace: dockerregistry
spec:
  interval: 15m
  chart:
    spec:
      chart: dockerregistry
      version: 9.13.0
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false

  values:
    global:
      stopAll: false

    TZ: America/Chicago
    service:
      main:
        enabled: true
        type: LoadBalancer
        loadBalancerIP: ${REGISTRY_IP}
        integrations:
          metallb:
            enabled: true
        ports:
          main:
            enabled: true
            port: 5000
            protocol: tcp
            targetPort: 5000    