---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ext-trueconf
  namespace: ext-trueconf
spec:
  interval: 15m
  chart:
    spec:
      chart: external-service
      version: 16.14.4
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    TZ: America/Chicago
    global:
      stopAll: false
    service:
      main:
        type: ExternalIP
        externalIP: "192.168.2.51"
        useSlice: true
        # integrations:
        #   metallb:
        #     enabled: true
        ports:
          main:
            protocol: http
            port: 80
    ingress:
      main:
        enabled: true
        ingressClassName: external
        hosts:
          - host: trueconf.${DOMAIN_1}
        integrations:
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
