---
# yaml-language-server: schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rocket-landing-prod
  namespace: rocket-life-prod
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 15.29.16
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false

  values:
    global:
      stopAll: false
    TZ: America/Chicago

    resources:
      requests:
        cpu: 50m
        memory: 128Mi
      limits:
        memory: 256Mi

    image:
      repository: docker.${DOMAIN_1}/rocket-life/landing
      tag: prod
      pullPolicy: Always

    securityContext:
      container:
        readOnlyRootFilesystem: false
        runAsNonRoot: false
        runAsUser: 0
        runAsGroup: 0

    service:
      main:
        type: ClusterIP
        ports:
          main:
            port: 3001
            targetPort: 3001
            protocol: http

    # Ingress configuration for www.${DOMAIN_4}
    ingress:
      main:
        enabled: true
        ingressClassName: external
        hosts:
          - host: www.${DOMAIN_4}
            paths:
              - path: /
                pathType: Prefix
        integrations:
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod

    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                NEXT_PUBLIC_APP_URL: "https://app.${DOMAIN_4}"
              probes:
                liveness:
                  enabled: true
                  type: http
                  path: /
                  port: 3001
                readiness:
                  enabled: true
                  type: http
                  path: /
                  port: 3001
