---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: rocket-life-prod
  namespace: flux-system
spec:
  interval: 10m
  path: ./clusters/main/kubernetes/apps/rocket-life/prod
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: true
  postBuild:
    substituteFrom:
      - kind: ConfigMap
        name: cluster-config
