---
# yaml-language-server: schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: etesync-dav
  namespace: etesync-dav
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 15.29.47
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false

  values:
    global:
      stopAll: false
    credentials:
      s3:
        type: s3
        url: "${MINIO_S3URL}"
        bucket: "${MINIO_S3PREFIX}-etesyncdav"
        accessKey: "${MINIO_S3ID}"
        secretKey: "${MINIO_S3KEY}"
        encrKey: "${MINIO_S3KEY}" 
    TZ: America/Chicago
    image:
      repository: docker.io/etesync/etesync-dav
      pullPolicy: Always
      tag: latest
    service:
      main:
        type: LoadBalancer
        loadBalancerIP: ${ETESYNCDAV_IP}
        integrations:
          metallb:
            enabled: true
        ports:
          main:
            port: 37358
            targetPort: 37358
            protocol: http
    ingress:
      main:
        enabled: true
        ingressClassName: external
        hosts:
          - host: etesync-dav.${DOMAIN_1}
        integrations:
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
    persistence:
      data:
        enabled: true
        mountPath: /data
        storageClass: ceph-filesystem
        size: 1Gi
        accessModes:
          - ReadWriteMany
        volsync:
          - name: data
            type: restic
            credentials: s3
            dest:
              volumeSnapshotClassName: ceph-filesystem
              enabled: true            
            src:
              volumeSnapshotClassName: ceph-filesystem
              enabled: true
              trigger:
                schedule: "0 1 * * *"
    workload:
      main:
        podSpec:
          containers:
            main:
              probes:
                liveness:
                  enabled: false
                readiness:
                  enabled: false
                startup:
                  enabled: false
              command:
                - /bin/sh
                - -c
                - |
                  mkdir -p /tmp/etesync_dav
                  cp -r /usr/local/lib/python3.10/site-packages/etesync_dav /tmp/
                  sed -i 's/app.config\["TRUSTED_HOSTS"\] = LISTEN_ADDRESS/app.config["TRUSTED_HOSTS"] = None/' /tmp/etesync_dav/webui.py
                  exec etesync-dav
              env:
                ETESYNC_URL: "http://etesync.etesync.svc.cluster.local:10254"
                PYTHONPATH: "/tmp"      